---
import '../pages/styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Sobre mi";
const title = 'sobre mi'
const identity = {
  firstName: "Ema",
  country: "Argentina",
  occupation: "Desarrollador web",
  hobbies: ["ver anime", "Emprender", "Desarrollar software"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];
---
<BaseLayout pageTitle={pageTitle} title={title}>
  <p>He aquí algunos datos sobre mí:</p>
  <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
      <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
    }
  </ul>
  <p>Mis habilidades son:</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
  

</BaseLayout>
     